# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
ENV/

# IDE/editor settings
.vscode/
.idea/
*.swp

# Environment
.env
*.env

# Secrets
*.json
!large_format_price_sheet_shopvox.csv

# Databases
*.db

# OS
.DS_Store
Thumbs.db
